.appBox {
  height:180px;
  width: 80vw;
  border: 2px solid black;
  margin-top: 50px;
  padding: 20px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.leftSide {
  width: 50%;
  height: 100%;
  float: left;
  ;
}

.rightSide {
  width: 50%;
  height: 100%;
  float: left;
}

.header {
  font-size: 36px;
  height: 40%
}

.userInputLabel {
  font-size: 18px;
  float: left;
  padding-right: 5px;
}

.userInput {
  height: 18px;
  width: 200px;
  font-size: 12px;
  float: left;
}

.inputContainer {
  height: 30%;
  width: 100%;
}

.buttonContainer {
  height: 30%;
  width: 100%;
}

.calculateScoreButton {
  width: 360px;
  height: 30px;
}

.scoreDisplay {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.scoreComment {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}